:root {

    --fuente_principal: 'Lexend', sans-serif;
    
    
    --telefono: 480px;
    --tablet: 768px;
    --desktop: 1024px;
    
    
    --primario: #e8505b;
    --secundario: rgb(189, 30, 89); 
    --negro: #000;
    --blanco: #FFFFFF;
    --gris: #686868;
    --grisClaro: #e1e1e1;
    
    --separacion: 5rem;
    
    }
    html {
        font-size: 62.5%;
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }
      
    body {
        font-family: var(--fuente_principal);
        font-size: 1.6rem;
    }
    
    p {
        color: var(--negro);
        font-size: 2rem;
    }

    

* {
    margin: 0;
    padding: 0;
  }
  
  * img {
    width: 114%;
    height: auto;
  }
  
  body {
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    font-weight: var(--thin);
  }
  
  a {
    text-decoration: none;
    color: black;
  }

h1 {
    margin-top: 1rem;
    font-size: 3.4rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

/***************************navbar***************************/
.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 768px) { 
    .barra {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 768px) { 
    .barra__navegacion {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 5rem;
        text-align: center;
    }
}


.barra__logo{
    width: 20rem;
    height: 22rem;
}
@media (max-width: 768px) { 
    .barra__logo {
        margin-right: 3rem;
    }
}

.barra__link {
        color: white;
        text-decoration: none;
        border-radius: 5rem;
        box-shadow: 0px 3px 10px 0px black;
        padding: 1.2rem 1.5rem;
        background-color: rgb(236, 34, 101);
        margin: 0 1rem;
        font-weight: 700;
}

.barra__link:hover {
    background-color: rgb(247, 175, 19);
    color: white;
}
/********************main*****************/
.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15rem;
}

@media (max-width: 768px) { 
    .main{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}

.main__titulo {
    line-height: 1.2;
}

.main__titulo h1 {
    margin-bottom: 2rem;
}


.main__simulador {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5rem;
}

.formulario__input {
    border: none;
}

.formulario__label {
    font-size: 1.4rem;
    font-weight: 900;
    margin-left: 1rem;
}

.formulario__input {
    border: none;
    width: 100%;
    color: var(--gris);
    outline: none;
    border: 0;
    background-color: #F0F0F0;
    border-radius: 5rem;
    box-shadow: 0px 6px 20px rgb(0 0 0 / 40%);
    padding: 1rem;
    
}





.main__hero {
    width: 45rem;
}

@media (max-width: 768px) { 
    .main__hero {
        display: none;
    }
}

.boton {
    background-color: rgb(236, 34, 101);
    border-radius: 5rem;
    color: #FFFFFF;
    border: none;
    box-shadow: 0px 3px 15px 0px black;
    padding: 0 1.5rem;
    margin: 2rem 0;
    font-size: 2.5rem;
    cursor: pointer;
}

@media (max-width: 768px) { 
   .boton{
    font-size: 1.8rem;
   } 
}

.boton:hover {
    background-color: rgb(247, 175, 19);
    color: black ;
    font-weight: 700;
}

/*******************footer*******************/
.footer{
    text-align: center;
    bottom:-100%;
    transition: all 0.25s ease-in;
    width: 100%;
    background-color: rgb(236, 34, 101);
    padding: 1rem;
}
@media (min-width: 768px) { 
    .footer{
        position: fixed;
    }  
}

.footer p {
    color: #FFFFFF;
}
@media (max-width: 768px) { 
    .footer p {
        font-size: 1rem;
    }
}

.footer h1{
    margin: 2rem;
    color: white;
}
@media (max-width: 768px) { 
    .footer h1 {
        font-size: 1.5rem;
    }
}


@media (min-width: 768px) { 
    .footer.activo {
        bottom: 0;
    } 
}

/*****************************Seccion REsultado************************************/
.resultado__grid {
    display: grid;
    text-align: center;
    margin-top: 4rem;

}

@media (min-width: 768px) { 
    .resultado__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        gap: 2rem;
        margin-top: 7rem;
    }
}


.tuPrestamo__lista {
    list-style:none;
    margin-right: 2.6rem 
}

.text-success  {
    color: rgb(126, 255, 5);
}

.resultados__titulo {
    color: rgb(35, 119, 245);
    margin: 5rem;
}

.tuPrestamo__resultados {
    margin-bottom: 2rem;
}


.tuPrestamo__imagen img{
    height: 47rem;
    margin-top: 2.5rem;
}
@media (max-width: 768px) { 
    .tuPrestamo__imagen img {
        display:none;
    }
}

/*******************************Regsitro******************/
.boton__registrate {
    background-color: rgb(34, 138, 236);
    border-radius: 5rem;
    color: #FFFFFF;
    border: none;
    box-shadow: 0px 3px 15px 0px black;
    padding: 1.2rem 3.5rem;
    margin: 2rem 0;
    font-size: 2.5rem;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 2rem;
}

.boton__registrate:hover {
    background-color: rgb(247, 175, 19);
    color: black ;
    font-size: 2.5rem;
    font-weight: 700;
}

.main__registrate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tuPrestamo__resultadosRegistrate{
    margin-top: 2rem;
}

.resultados__tituloRegistrate{
    color: rgb(35, 119, 245);
    margin-bottom: 2rem;
    margin-left: 1.3rem;
}

/************btn flotante**********************/
@media (min-width: 768px) { 
    .btn-flotante {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        background-color: rgb(236, 34, 101);
        text-decoration: none;
        border-radius: 5rem;
        color: #FFFFFF;
        border: none;
        box-shadow: 0px 3px 15px 0px black;
        padding: .6rem .5rem;
        margin:0;
        font-size: 1.5rem;
        cursor: pointer;
        font-weight: 300;
    } 
}
.btn-flotante:hover{
    color: white;
}

@media (max-width: 768px) { 
    .btn-flotante {
        display: none;
    }
}

@media (min-width: 768px) { 
    .btn-flotante.activo {
        background-color: rgb(247, 175, 19);
        color: rgb(255, 255, 255);
        font-weight: 700;
    }
}
/**************************pre-footer****************/
.pre-footer {
    padding-bottom: .2rem;
    padding-top: 1.2rem;
    background-color: rgb(35, 119, 245);
    text-align: center;
    font-weight: 700;
}
@media (max-width: 768px) { 
    .pre-footer{
        font-size: 1.5rem;
        padding: .5rem;
    }
}

.pre-footer p {
    color: white;
}
.pre-footer a{
    color: rgb(165, 237, 247);
}

@media (max-width: 768px) { 
    .pre-footer p {
        font-size: 1.5rem;
    }
}

/***************************productos****************************/
.borrar-producto {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul {
    list-style: none;
}

.submenu {
    position: relative;
}

.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right:0;

    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}



.info-card {
    margin-bottom: 10rem;
}

.confirmar {
    background-color: rgb(50, 252, 0);
    color: #FFFFFF;
}

.eliminar {
    background-color: rgba(255, 0, 0, 0.808);
    color: #FFFFFF;
}

#agregarCarrito1{
    line-height: 38px;
    font-size: 1.2rem;
    border-radius: 5rem;
}
#agregarCarrito2{
    line-height: 38px;
    font-size: 1.2rem;
    border-radius: 5rem;
}

/*************validaciones***********/
.errores {
    color: red;
  }
  
  .ok {
    color: greenyellow;
  }

  /**************conversor************/
  .select {
    color: #FFFFFF;
    background-color: rgb(236, 34, 101);
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
    border-radius: 5rem;
    padding: .5rem;
    border: none;
    box-shadow: 0px 3px 5px 0px black;
    cursor: pointer;
  }

  .subtitulo-cotizador{
    margin-bottom: 4rem;
  }

  .taza-de-cambio button {
    margin: 2.5rem 0;
    background-color: rgb(247, 175, 19);
    color: #FFFFFF;
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    border: none;
    box-shadow: 0px 3px 5px 0px black;
    border-radius: 5rem;
    padding: .5rem 1rem;
  }

  .cotizador{
    padding-bottom: 35rem;
  }

  .cotizador-input{
    border: none;
    border-radius: 5rem;
    box-shadow: 0px 1px 5px 0px black;
    padding: .5rem;
  }

  .select:focus, .cotizador-input:focus, .taza-de-cambio button:focus{
    outline: 0;
  }
/**********resolucion problemas*********/
  .barra__link_intereses{
    display: none;
  }